@charset "utf-8";

$baseline : 1.5;

// Fonts

$body-font-family : Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;

$code-font-family : Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;

$heading-font-family : Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;

// Colours
$logo-colour : rgb(73, 0, 48);

$background-colour : rgb(102, 102, 102);

$base-colour : rgb(250, 250, 250);

$link-colour : rgb(76, 98, 141); // Blue

$link-colour-visited : rgb(166, 81, 133); //Purple

$primary-colour : rgb(86, 56, 0); // Dark mustard

$secondary-colour : rgb(55, 80, 0) // Dark green