@charset "utf-8";

@import "partials/variables";

@import "partials/screen";

/* # =================================================================
   # Styles that would be in a base stylesheet
   # ================================================================= */
html {
	font-size : 125% /* Assuming the user-agent’s default equates to 16 pixels, this will result in a default font-size of 20 notional pixels and a notional pixel size of 0.05em */;
	line-height : 1.4;
	margin : 0;
	padding : 0
}

body {
	margin : 0;
	max-width : 100%;
	text-rendering : optimizeLegibility
}


img,
object {
	display : block;
	height : auto /* Stop images overflowing their containing element */;
	margin : 1.4em auto;
	max-width : 100% /* Stop images overflowing their containing element */;
	padding-right : .7em
}

footer,
[role=banner] {
	font-size : .8em
}

[role=banner] dd {
	margin-left : 0 /* Nullify common user-agent defaults */
}

[role=banner] dt {
	font-size : 1rem
}

/* # =================================================================
   # Specific screen styles for this theme
   # ================================================================= */
body {
	padding : 0 .2em
}

article,
.publication {
	background : $base-colour;
	box-sizing : border-box;
	box-shadow : .1em .1em 0 rgba(0, 0, 0, .100),
	.3em  .3em   0 rgba(250, 250, 250, 1.0),
	.35em .35em  0 rgba(0,   0,   0,   .125),
	.6em  .6em   0 rgba(250, 250, 250, 1.0),
	.65em .65em  0 rgba(0,   0,   0,   .150),
	.9em  .9em   0 rgba(250, 250, 250, 1.0),
	.95em .95em  0 rgba(0,   0,   0,   .175);
	color : rgb(52, 52, 52);
	padding : 0 .7em 0 1.4em
}

article {
	margin-right : .95em /*This provides space for the article element’s box-shadow */
}

article,
footer,
[role=banner],
:not(h1) + main {
	margin-bottom : .7em;
	margin-top : .7em
}

h1,
header {
	margin-top : 1.4rem
}

main header h1 {
	padding-top : 1.4rem
}

footer {
	max-width : 50em
}

main.publication,
[role=complementary],
[role=banner] dd,
[role=banner] dl {
	max-width : 40em
}

footer,
main.page,
[role=banner],
:not(h1) + main {
	padding : .6em
}

h1,
footer,
main,
[role=banner],
[role=complementary] {
	margin-left : auto;
	margin-right : auto
}
[role=complementary] {
	padding : 0 1.4em
}

[role=complementary] ul {
	margin-top : 0
}

/*
	Hiding navigation items but allowing their access key attributes
	to still function
*/
[accesskey="k"],
[accesskey="6"] {
	display :none
}

/*
	Skip to main content
*/
[href="#nav_main"] {
	display : block;
	line-height : 0;
	text-align : center;
	visibility : hidden
}

[href="#nav_main"]::after {
	background-color : $base-colour;
	border-radius : 100%;
	border-width : 0;
	color : $background-colour;
	content : "☟";
	display : block;
	line-height : 1.4em;
	margin : 0 auto;
	visibility : visible;
	width : 1.4em
}

/*
	Logo
*/
dt::before {
	background : url("/images/logo.svg") top left/contain no-repeat;
	content : "";
	display : block;
	height : 4em;
	margin : 0 auto;
	width : 4em
}

/* # =================================================================
   # Access key table
   # ================================================================= */
#nav_accesskeys {
	margin-bottom : 0;
	margin-top : 0;
	width : 100% /* Stop caption from wrapping */
}

#nav_accesskeys caption,
#nav_validation {
	text-indent : #{$baseline}em
}

#nav_accesskeys thead {/* Hide heading */
	display : none
}

#nav_accesskeys tr {/* Compact display of rows */
	display : inline-block
}

#nav_accesskeys kbd {
	background-color : rgb(239, 240, 242);
	border-top-color : rgb(245, 245, 245);
	border-radius : .25rem;
	border-top-style : solid;
	border-top-width : .05rem;
	box-shadow : rgb(232, 232, 232) 0 0 1.25rem 0 inset, rgb(195, 195, 195) 0 .05rem 0 0, rgb(201, 201, 201) 0 .1rem 0 0, rgb(51, 51, 51) 0 .1rem .15rem 0;
	box-sizing : border-box;
	color : rgb(90, 90, 90);
	cursor : auto;
	display : block;
	font-size : .7em;
	font-style : normal;
	font-variant-caps : normal;
	height : #{$baseline}rem /* On the assumption the html element has a line-height of “1.4” */;
	line-height : #{$baseline}rem /* On the assumption the html element has a line-height of “1.4” */;
	list-style-type : none;
	text-align : center;
	text-shadow : rgb(225, 225, 225) 0 .05rem 0;
	width : #{$baseline}rem
}

/* # =================================================================
   # The flex display
   # ================================================================= */
/*
	 The masthead
*/
[role=banner] {
	display : flex;
	flex-direction : row
}

[role=banner],
[role=banner] [role=navigation] ol li {
	width :    -moz-fit-content;
	width : -webkit-fit-content;
	width :         fit-content
}

[role=banner] [role=navigation] ol {
	align-items : center;
	border-color : rgb(220, 220, 220);
	border-style : solid;
	border-width : .1em 0;
	display : flex;
	flex-flow : row wrap;
	justify-content : space-around;
	list-style : none;
	margin : 1.4em 0 1.4em -.3em;
	padding : 0 /* Nullify common user-agent defaults */
}

[role=banner] [role=navigation] ol li {
	letter-spacing : .1em;
	line-height : 2.4em;
	margin : .1em .3em;
	padding : 0 .3em;
	text-align : center;
	text-transform : uppercase
}

/*
	 The articles
*/
main h1 {
	max-width : 100%;
}

h1 + main {
	display : flex;
	flex-flow : row wrap;
	justify-content : space-between
}

:not(h1) + main {
	max-width : 40em
}

main article {
	align-content : flex-end
}

@media (max-width : 21em) {
	[role=banner] [role=navigation] ol {
		justify-content : center
	}

	[role=banner] [role=navigation] ol li {
		margin-left : auto;
		margin-right : auto
	}
}

@media (max-width : 51em) {
	[role=banner] {
		flex-direction : column
	}
}

@media (min-width : 51em) and (max-width : 72em) {
	[role=banner] [role=navigation] ol {
		border-width : 0 .1em;
		flex-flow : column nowrap;
		width : 10em /* width of ‘li’ element plus it’s margin and padding */
	}
}

/* # ============================================================
   # Breakpoints for articles
   #
   # h1 and main widths are calculated by …
   # article widths are calculated by …
   #
   # ============================================================ */

@media (max-width : 48em ) {
	main.publication {
		margin-right : .95em /*This provides space for the main element’s box-shadow */
	}
}

@media (min-width : 48em) {
	h1,
	main {
		max-width : 36rem /* 48em − 2.8rem */
	}

	article {
		width : 17em /* (36rem − 2em) ÷ 2 */
	}

	article:first-child {
		width : 100%
	}
}

/*
	 iPad landscape
*/
@media (min-width : 64em) {
	h1,
	main {
		max-width : 48.4rem /* 64em − 2.8rem */
	}

	main article {
		width : 23.2em /* (48.4rem − 2em) ÷ 2 */
	}
}

/*
	 Desktop
*/
@media (min-width : 85em) {
	h1,
	main {
		max-width : 65.2rem /* 68rem − 2.8em */
	}

	main article,
	article:first-child {
		width : 20.73em /* (65.2em − 2.8em) ÷ 3 */
	}
}

/*
	 Widescreen desktop
*/
@media (min-width : 100em) /* Anything wider than 1600px */ {
	h1,
	main {
		max-width : 77.2rem /* 80rem − 2.8em */
	}

	main article,
	main article:first-child {
		width : 24.7em /* (77.2em − 2.8em) ÷ 3 */
	}
}

/*
	Article media object on full width first-child articles
*/
@media (min-width : 48em) and (max-width : 85em) {
	article:first-child .article_body {
		align-items : flex-start;
		display : flex
	}

	article:first-child img,
	article:first-child object {
		margin-right : 1.4em;
		margin-top : 1em;
		max-width : 40%
	}

	article:first-child p {
		flex : 1
	}
}

/*
	Article media object on wide screens
*/
@media (max-width : 64em) {
	:not(h1) + main {
		max-width : 40em
	}

	:not(h1) + main img,
	:not(h1) + main object {
		display : block;
		margin : 1.4em auto
	}
}

@media (min-width : 64em) {
	.publication {
		max-width : 80em;
	}

	.publication .article_body {
		align-items : flex-start;
		display : flex
	}

	.publication .article_text {
		flex : 1;
		width : 40em
	}

	.publication img,
	.publication object {
		margin-right : 1.4em;
		margin-top : 1em;
		max-width : 40%
	}
}
/*
	LINKS L.V.H.A.
*/
a:link,
a:visited,
a:active {
	color : inherit;
}

a:link { /* Unvisited links */
	border-bottom : .05em solid;
	padding-bottom : .005em;
	text-decoration : none;
	transition : all .25s ease
}

a:visited { /* Visited links */
	border-color : inherit
}

a:link:hover {
	color : inherit
}

a:visited:hover {
	color : inherit
}

a:active { /* As a link is activated. Moves the text down as though a button were depressed */
	position : relative;
	top : .1em
}
/*
	Links inside of publication summaries
	LINKS L.V.H.A.
*/

article a:link,
article a:visited,
article a:active {
	color : inherit;
}

article a:visited { /* Visited links */
	border-color : $link-colour-visited
}

article a:link:hover {
	color : $link-colour
}

article a:visited:hover {
	color : $link-colour-visited
}

article a:active { /* As a link is activated. Moves the text down as though a button were depressed */
	position : relative;
	top : .1em
}