@charset "utf-8";

@import "partials/variables";

@import "partials/visual";

body {
	text-rendering : optimizeLegibility
}

/* # =================================================================
   # Logo
   # ================================================================= */

[role=banner] dl {
	background : transparent url(/images/logo.svg) center top/3em no-repeat;
	padding-top : 4.5em
}

/* # =================================================================
   # Book covers
   # ================================================================= */

object {
	border-radius : .25em;
	box-shadow : 0 .05em .2em rgba(0, 0, 0, .3), 0 0 2em rgba(0, 0, 0, .1) inset;
	display : block;
	float : left;
	height : auto;
	margin-right : 1.5em/* Same as line-height and enough to accommodate list markers*/;
	margin-bottom : 1.5em;
	max-width : 100%
}

h2 {
	clear : both
}

article::before,
footer::before,
[role=complementary]::before {
	clear : both;
	content : "";
	display : block
}

ul > li::before {
	content : "❧";
	top : .2em
}

@media screen and (max-width: 42em) {
	article object {
		float : none /* Turn off float on narrow screens */;
		margin : 1.5rem auto
	}
}

article p::before { /* Push paragraphs bellow float objects if they cannot be at least 8em wide */
	content : "";
	display : block;
	overflow : hidden;
	width : 8em
}