---
title: Strait is the gate—Nothing found (error 404)
layout: 404_layout
---

Regrettably, there is nothing at this address, apart from this, though this is only here as total silence would be unbearable.

<blockquote>Once upon a midnight dreary, while I websurfed, weak and weary,<br />
Over many a strange and spurious website of hot chicks galore,<br />
While I clicked my fav’rite bookmark, suddenly there came a warning,<br />
And my heart was filled with mourning, mourning for my dear amour.<br />
“’Tis not possible,” I muttered, “give me back my cheap hardcore!”—Quoth the server, “404”.
	<footer><a href="http://www.plinko.net/nevermore.asp">A lovely poem from Plinko</a></footer>
</blockquote>

As the <abbr title="World Wide Web Consortium" class="initialism">W.3.C.</abbr> proclaims, [<abbr title="uniform resource locator" class="initialism">U.R.L.</abbr>s don’t change](https://www.w3.org/Provider/Style/URI.html). Unfortunately, my <abbr title="uniform resource locator" class="initialism">U.R.L.</abbr>s are seriously *uncool man* and change all the time.

Please use take a look at [the archives](https://isfeargoidte.me.uk/archives) and see if you can find that pesky post. It’s probably still here somewhere.